:root {
    color-scheme: dark;
}

body {
    background-color: #2b2b2b;
}

p {
    color: #aaaaaa;
}

strong, b {
    color: #cca76e;
}

em, i {
    color: #cca76e;
}

a, a:link, a:visited {
    color: #8888c6;
}

nav a:hover {
    color: #eeeeee;
}

h1, h2, h3, h4, h5 {
    color: #aaaaaa;
}

header h1 a:link, header h1 a:active,
header h1 a:visited, header h1 a:hover {
    color: #dddddd;
}

article li {
    color: #aaaaaa;
}
